{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "import/extensions": "off"
    // "semi": "warn",
    // "no-console": "warn",
    // "eol-last": "warn",
    // "no-tabs": "warn",
    // "linebreak-style": ["off", "windows"]
    // "indent": ["error", "tab"]
  }
}