$back-body: rgb(53, 53, 53);
$back-main-div: rgb(74, 74, 74);
$text: rgb(167, 124, 124);
$textarea-border: rgb(245, 119, 49);
$textarea-back: rgb(153, 170, 181);
$btn-hover: rgba(167, 124, 124, 0.211);